* {
  padding: 0;
  margin: 0 ;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  background: #05080b;
  
}
.debut{
  padding-left: 550px;
}


.structure{
 
  border: 2px solid rgb(123, 116, 116);
  height: auto;
  width: 900px;
  box-sizing: border-box;

}

.home{
  padding-bottom: 1rem;
  padding-top: 5px;
  padding-left: 10px;
  text-decoration: none;
  
}



.partie1{
  padding-left: 30px;
  margin: auto;

}
.text1{
  display: flex;
  border: 2px solid rgb(123, 116, 116);
}

.icon_bas{

  display: flex;
  justify-content: space-around;
  padding-top:15px;
  padding-bottom: 5px;

}

h1 {
  color: #D9D9D9;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  
  }
h2 {
      color: #D9D9D9;
      padding-top: 1.5rem;
  padding-left: 1.5rem;
      }
h3 {
          color: #D9D9D9;
          font-size: 25px;
          padding-top: 1.5rem;
  padding-left: 1.5rem;
          }
h4{
              color: #D9D9D9;
              font-size: 25px;
              padding-top: 1.5rem;
  padding-left: 1.5rem;

              }
  h5{
                  color: #D9D9D9;
                  font-size: 30px;
                  padding-top: 1.5rem;
  padding-left: 1.5rem;
                  }

.p1{

padding-top:20px;
}

.thee3{
 padding-left: 30px;
 
}

.ico{
  display: flex;
  justify-content:space-between;
  padding-inline-start:25px ;
  margin-right: 450px;
  padding-top: 60px;
 
}

.flex{
 padding-top: 55px;
}
.kkk{
  display: flex;
}
.iconebutt{
  
}



#twi{
  
  }


input{
 
  background-color: #1DA1F2 ;
  color : #D9D9D9;
  border:none ;
  border-radius:10px ;
  height:30px ;
  width : 70px;
}

/* deuxieme ligne */
.partie2{
  padding-left: 30px;
  margin: auto;
}

.text2{
  display: flex;
  border: 2px solid rgb(123, 116, 116);
}

.partie3{
  padding-left: 30px;
  margin: auto;
}


.text3{
  display: flex;
  border: 2px solid rgb(123, 116, 116);
}

.partie6{
  padding-left: 50px;
  
 
}

.tweet4{
  padding-left: 30px;
  margin: auto;
  
}
.tex4{
  display: flex;
  border: 2px solid rgb(123, 116, 116);
}

.text5{
 
  
}
.partie4{
 

}
.text4{
  
  
}

.icone{
  padding-left: 800px;

}


.lili{
  width: 700px;
  height: 350px;
  border-radius: 10%;
  padding-left: 40px;
  
}

.div4{
  padding-left: 30px;
  padding-bottom: 15px;
  display: grid;
  border: 2px solid rgb(123, 116, 116);
  
}

.block{
  padding-left: 30px;
 
 
}
.bloc{
  display: ;
  
  }



p{
  color: #D9D9D9;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  object-fit: cover;
  

}
.text4{
  color: #D9D9D9;
  padding-bottom: 20px;

}

img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  object-fit: cover;
  display: block;  
  object-fit: cover;
  float: left;

}

/* menu profil*/

.bod{
  padding-left:15px ;
  padding-top: 20px;
  }
  
  h5 {
  color: #D9D9D9;
  }
  
  .class_menu_profil{
      padding-top: 10px;
      padding-left: 15px;
  }
  .cont{
      display: flex;
      justify-content: space-between;
      padding-right: 850px;
  }
  

/* menu des icones home*/


.phrase{
  font-size: 25px;
  padding-bottom: 4px;
  font-weight: 600;

}
.display{
  display: flex;
  align-items: center;
}
.hekk{
  padding-top: 25px;
}
.sa{
  position: absolute;
  top: 50%;
  width: 323px;
}
.sb{
  margin: 30px;
  width: 300px;
  height: auto;
  border: 2px solid rgb(123, 116, 116);
  box-sizing: border-box;
}

.ki{
  display: flex;
  align-items: center;
  
}

.sc{
  
  margin-top: 15px;
  margin-left: 30px;
  
}



.Bptwitte{
  



}

#form_button_submit{

  background: #1DA1F2;
  color: #D9D9D9;
  border:none ;
  border-radius:10px ;
  padding:10px ;
  min-width : 200px ;

}

.sc h1{
  font-weight: 400;
  color: blue;
}

.sc img{

  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}



/* profil du bas */


.sm{
  display: flex;
  align-items: center;
}
.sm h1{
  font-weight: 400;
  color: blue;
}

.sm img{

  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}


@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Light.ttf)
}

.text{
  /* border: solid rgb(226, 104, 43); */
  text-align: justify;
}

/* partie responsive */

@media only screen and (max-width:1186px) {

  .partie1{
    padding-left: 30px;
    margin: auto;
  }
  .text1{
    display: flex;
    border: 1px solid rgb(123, 116, 116);
  }
  
  .icone{
    padding-left: 81%;
    padding-top: 0.5rem;
    font-size: 1%;
    
  
  }


  img{
      width : 50px; height : 50px;
      border-radius : 75%;
      object-fit: cover;
      /* box-shadow: 5px 5px 15px rgb(0, 0, 0, 3); */
      display: block;
      /* border: 2px solid transparent; */
      /* border: none; */
      object-fit: cover;
      float: left;
       
  }

  .ico{
  
  }

  .debut{
    padding-left: 20px;
  }

  .structure{
 
    border: 2px solid rgb(123, 116, 116);
    height: auto;
    width: 800px;
    box-sizing: border-box;
  
  }
  

  #twi{
    padding-bottom: 0.5rem;
    }

    input{
      background-color: #1DA1F2 ;
      color : #D9D9D9 ;
      border:none ;
      border-radius:10px ;
      padding:5px ;
    
      min-width : 50px ;
    }
    
    .lili{
      width: 600px;
      height: 150px;
      border-radius: 10%;
      padding-left: 40px;
      
    }

}